<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link href="../static/output.css" rel="stylesheet">
</head>

<body class="">
    <h1>(Title)</h1>
    <h2>practice your interview responses</h2>
    <form class="w-1/3" action="/interview" method="post">
        <p class="mt-5 mb-3 font-semibold">Pick the type of question to practice:</p>
        <div class="question-type">
            <label for="qtA">
                <input id="qtA" type="radio" name="question-type" value="A" hidden>
                Type A
            </label>
            <label for="qtB">
                <input id="qtB" type="radio" name="question-type" value="B" hidden>
                Type B
            </label>
            <label for="qtC">
                <input id="qtC" type="radio" name="question-type" value="C" hidden>
                Type C
            </label>
        </div>
        <button class="px-5 py-2 w-full bg-violet-300 font-semibold">Start Interview</button>
    </form>
</body>

</html>