<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link href="../static/output.css" rel="stylesheet">
</head>

<body class="">
    <form class="w-1/3" action="/interview" method="post">
        <img src="../static/HelpHelp Logo.png" alt="Help Help Logo" class="w-[350px] mx-auto">
        <h2 class="mx-auto mb-10">Practice your Interview Responses.</h2>
        <p class="mt-5 mb-3 font-semibold">Pick the type of question to practice:</p>
        <div class="question-type">
            <label for="qtA">
                <input id="qtA" type="radio" name="question-type" value="behavioural" hidden>
                Behavioural
            </label>
            <label for="qtB">
                <input id="qtB" type="radio" name="question-type" value="technical" hidden>
                Technical
            </label>
            <label for="qtC">
                <input id="qtC" type="radio" name="question-type" value="general" hidden>
                General
            </label>
        </div>
        <button class="start-interview-btn">Start Interview</button>
    </form>
</body>

</html>